<app-navbar-shop></app-navbar-shop>

<section class="shop-hero">
  
  <div class= "hero-overlay"></div>  

  <div class= "hero-content">
    <p class= "hero-subtitle">
      COLECCIÓN 2026
    </p>

    <h1 class="hero-title">
      LA TIENDA
    </h1>

    <p class="hero-description">
      Productos de cuidado y estilo seleccionados para acompañar tu rutina diaria.
      Calidad profesional, diseño y carácter en cada detalle.
    </p>
  </div>
</section>

<!-- 
<main class="shop-page">
  <!-- Detalle de producto (cuando hay uno seleccionado) -->
  <!-- <app-product-detail
    *ngIf="selectedProductId()"
    [productId]="selectedProductId()!"
    (back)="selectedProductId.set(null)" />

  <!-- Grid de tienda -->
  <!-- <div *ngIf="!selectedProductId()">
    <div class="shop-header">
      <h1 class="shop-title">TIENDA</h1>
    </div>

    <!-- Filtros por categoría -->
    <!-- <div class="shop-filters">
      <button
        *ngFor="let cat of categories"
        class="filter-btn"
        [class.active]="selectedCategory() === cat"
        (click)="selectedCategory.set(cat)">
        {{ cat }}
      </button>
    </div>

    <!-- Grid de productos -->
    <!-- <div class="products-grid">
      <app-product-card
        *ngFor="let product of filteredProducts"
        [product]="product"
        (viewDetail)="selectedProductId.set($event)" />
    </div> -->
  <!-- </div> -->
<!-- </main>  --> 