nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	align-items: center;

	padding: 20px 40px;

	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);

	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	box-sizing: border-box;

	z-index: 1000;
}

nav div {
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar-actions {
	justify-content: flex-end;
}

.navbar-logo {
	height: 65px;
}

button {
	background: transparent;
	border: none;

	color: var(--color-white);

	font-size: 16px;
	cursor: pointer;

	transition: var(--transition-fast);
}

button:hover {
	color: var(--color-accent);
}

.booking-button {
	border: 2px solid var(--color-white);
	padding: 12px 24px;
	border-radius: 4px;
}

.icon-button {
	color: var(--color-white);
	font-size: 24px;
	padding: 8px;
}

.icon-button:hover {
	color: var(--color-accent);
}