nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px 40px;
	background-color: var(--color-background);
}

nav div {
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar-logo {
	height: 50px;
}

button {
	background: transparent;
	border: none;

	color: var(--color-white);

	font-size: 16px;
	cursor: pointer;

	transition: var(--transition-fast);
}

button:hover {
	color: var(--color-accent);
}

.booking-button {
	border: 2px solid var(--color-white);
	padding: 12px 24px;
	border-radius: 4px;
}

.icon-button {
	color: var(--color-white);
	font-size: 24px;
	padding: 8px;
}

.icon-button:hover {
	color: var(--color-accent);
}